<%if @current_user.nil?%>
<h2>Please Sign in to proceed!</h2>
<% elsif @current_user.present?%>

<%= form_for @student do |f| %>
<fieldset class = "form-group col-5">
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'form-control' ,:required =>true%>
</fieldset>
<fieldset class = "form-group col-5">
  <%= f.label :phone %>
  <%= f.text_field :phone , :class => 'form-control',:required =>true%>
</fieldset>
<fieldset class = "form-group col-5">
  <%= f.label :dob, 'Date of birth' %>
  <%= f.text_field :dob, :class => 'form-control',:required =>true %>
</fieldset>
<%= f.label :instructor_id %>
<!-- <%= f.select :instructor_id, Instructor.pluck(:name,:id,:instrument)%> -->
  <%= f.collection_select(:instructor_id, Instructor.all, :id, :name_with_instrument)%>
  <%= f.hidden_field(:user_id, {:value=>@current_user.id}) %>
<fieldset class = "form-group">
<label></label><%= f.submit @student.id.nil? ? "Create New Student" : "Update Student",:class => 'btn btn-warning' %>
</fieldset>
<!-- </div> -->
<% end %>
<% end %>
