<h1>Students</h1>
<%if @current_user.nil?%>
<h2>Please Sign in to proceed!</h2>

<% elsif @current_user.present?%>
  <p><%= link_to 'New Enrollment',new_student_path%></p>

    <%if @current_user.present? && @current_user.user_type == 'Admin'%>
    <ul>
      <% @students.each do |student| %>
      <li><%= link_to student.name, student %></li>
      <% end %>
    </ul>
    <% else %>
    <ul>
      <% @students_user.each do |student| %>
      <li><%= link_to student.name, student %></li>
      <% end %>
    </ul>

    <%end%>

<%end%>



<!-- <ul>

<% @students.each do |student| %>
<p><li> <%= link_to student.name, student %></li>
<li><%= student.phone %></li>
<% if student.dob.present? %>
<li><%= student.dob.strftime '%d/%m/%Y' %></li>
<% end %>
<% end %>
</ul></p> -->
