<%if @current_user.nil?%>
<p></p><p></p>
<h4>Please Sign in to access this feature.</h4>

<% elsif @current_user.present?%>
<div class="row center">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    <h1>Enrolled Students</h1>
    </div>
    <div class="col-sm">
    </div>
</div>
<div class="row center">
     <div class="col-sm">
     </div>
     <div class="col-sm">
     <p><%= link_to 'New Enrollment',new_student_path, :class => 'badge badge-warning'%></p>

     </div>
     <div class="col-sm">
     </div>
</div>
<div class="row center">
     <div class="col-sm">
     </div>
     <div class="col-sm">
     <%if @current_user.present? && @current_user.user_type == 'Admin'%>

        <div class="card" style="width: 18rem;">

          <ul class="list-group list-group-flush">
          <% @students.each do |student| %>
            <li class="list-group-item"><%= link_to student.name, student %></li>
          <% end %>
          </ul>
        </div>

      <% else %>

        <div class="card" style="width: 18rem;">

          <ul class="list-group list-group-flush">
              <% @students_user.each do |student| %>
                <li class = "list-group-item"><%= link_to student.name, student %></li>
              <% end %>
          </ul>
        </div>
      <%end%>
      </div>
      <div class="col-sm">

      </div>
</div>

<%end%>





<!-- <ul>

<% @students.each do |student| %>
<p><li> <%= link_to student.name, student %></li>
<li><%= student.phone %></li>
<% if student.dob.present? %>
<li><%= student.dob.strftime '%d/%m/%Y' %></li>
<% end %>
<% end %>
</ul></p> -->
