<%if @current_user.nil?%>
<h2>Please Sign in to proceed!</h2>

<% elsif @current_user.present?%>
<h1><%= @student.name %></h1>
<ul>
  <li><%= @student.user.name %> Family</li>
  <li>Phone: <%= @student.phone %>
</li>
<% if @student.dob.present?%>
  <li>Date of Birth: <%= @student.dob.strftime '%d/%m/%Y' unless @student.dob.nil? %></li>
  <%end%>
</li>
</ul>


<div class="controls">
  <%= link_to 'Edit Student', edit_student_path(@student)%>
<%= link_to 'Delete Student', @student, :method => 'delete', :data =>{:confirm =>'Are you sure?'}%>
</div>

<% end %>
