<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div>

    <h1>Log in</h1>

    <div><h2><%= flash[:error] %></h2></div>
    <%= form_tag login_path do %>
      <fieldset class = "form-group col-4"><%= label_tag  :email %>
       <%= email_field_tag :email, nil, :required=>true,:class => 'form-control' %></fieldset>
      <fieldset class = "form-group col-4"><%= label_tag  :password %>
      <%= password_field_tag :password, nil, :required=>true, :class => 'form-control' %></fieldset>
      <fieldset class = "form-group">
        <div><label></label><%= submit_tag "Log in" %></div>

      </fieldset>
      <% end %>
  </div>



  </body>
</html>
