
<div class="row center">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1>Instructors</h1>
    </div>
    <div class="col-sm">
    </div>
</div>


<%if @current_user.present? && @current_user.user_type == 'Admin'%>
<!-- <%= link_to 'New Instructor',new_instructor_path %> -->
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <%= link_to 'New Instructor',new_instructor_path, :class => 'badge badge-warning'%>
    </div>
    <div class="col-sm">
    </div>
</div>

<%end%>
<p></p>
<div class="row">
  <% @instructors.each do |instructor| %>
    <div class="col-sm-3">
        <div class="profile_thumb image_transform" style="background-image: url(<%= instructor.photo %>)"></div>
        <%#= image_tag instructor.photo, :alt =>instructor.name, :class =>'thumb' if instructor.photo.present? %>
        <p><%= link_to instructor.name, instructor %>: <%= instructor.instrument %></p>
    </div>
  <% end %>
</div>





<!-- <%if @current_user.present? && @current_user.user_type == 'Admin'%>

<a class="badge badge-warning"<%= link_to 'New Instructor',new_instructor_path %></a>

<%= link_to 'New Instructor',new_instructor_path %> -->
<!-- <%end%>
<p></p>
<% @instructors.each do |instructor| %>


<ul>
  <li><%= link_to instructor.name, instructor %></li>
  <li>Instrument taught: <%= instructor.instrument %></li>
</ul>


<% end %> -->
