<h1>Sign Up</h1>
<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg|  %>
  <li><%= msg.capitalize %></li>
  <% end %>
</ol>
<% end %>
<div>
  <%= form_for @user do |f| %>
  <fieldset class = "form-group col-5">
    <div><%= f.label :name %>
    <%= f.text_field :name,:required=>true,:class => 'form-control'%></div>
  </fieldset>
  <fieldset class = "form-group col-5">
    <div><%= f.label :phone %>
    <%= f.text_field :phone,:required=>true,:class => 'form-control' %></div>
  </fieldset>
  <fieldset class = "form-group col-5">
    <div><%= f.label :email %>
    <%= f.email_field :email ,:required=>true,:class => 'form-control' %></div>
  </fieldset>
  <fieldset class = "form-group col-5">
    <div><%= f.label :password %>
    <%= f.password_field :password,:required=>true, :class => 'form-control' %></div></fieldset>
  <fieldset class = "form-group col-5">
    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,:required=>true,:class => 'form-control' %></div>
  </fieldset>
  <%= f.hidden_field( :user_type, {:value=>'Parent'}) %>
  <fieldset class = "form-group">
  <div><label></label><%= f.submit "Sign Up!" %></div></fieldset>
  <% end %>



</div>
