<%if @current_user.nil?%>
<h2>Please Sign in to proceed!</h2>

<% elsif @current_user.present?%>

<h1><%= @performance.student.name%></h1>
<div class="card" style="width: 70rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Performance: <%= @performance.name %></li>
    <li class="list-group-item">Media: <%== @performance.media %></li>

      <% if @performance.performance_date.present?%>
      <li class="list-group-item">Performance Date:

      <%= @performance.performance_date.strftime '%d/%m/%Y' unless @performance.performance_date.nil? %></li>
      <%end%>
      </li>
      <li class="list-group-item">Description: <%== @performance.description %></li>

  </ul>
</div>

<p></p>
<p></p>

<%if @current_user.present? && @current_user.user_type == 'Admin'%>
<div class="controls">
  <%= link_to 'Edit Performance', edit_performance_path(@performance),:class => 'badge badge-warning'%>
  <%= link_to 'Delete Performance', @performance, :method => 'delete', :data =>{:confirm =>'Are you sure?'},:class => 'badge badge-warning'%>
</div>
<% end %>
<% end %>
